@{
    ViewData["Title"] = "Contentful appsettings missing";
}

<h1>Appsettings empty!</h1>

<p>You should open your <code>appsettings.json</code> file and enter your Contentful <strong>delivery API key</strong> and <strong>space id</strong>.</p>

<p>Then rebuild and reload this page.</p>